.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

body {
  /* background-color: rgb(112, 119, 119); */
  background-color: rgb(17, 32, 32);
}

input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: 1px solid #2f2f37;
  border-radius: 4px;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1.9rem;
  padding: calc(.4rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.load-more {
  display: block;
  margin: 0 auto 30px;
}

.is-hidden {
  display: none;
}

.search-form {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  gap: 20px;
  width: 100%;
  height: 59px;
  background-color: #221faf;
  border: #777371 solid 1px;
  border-radius: 4px;
  z-index: 1000;
}


.gallery{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 30px;
  padding: 30px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 300px;
  height: 365px;
}

a {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 260px;
}

.image {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #beb7b7;
  border-radius: 4px;
  box-shadow: rgba(233, 228, 228, 0.35) 0px 5px 15px;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

// .image:not(:hover) {
//   zoom: -50%;
// }

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.info-item {
  color: #fff;
  margin: 0px;
  padding: 2px;
}

#up-button {
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    fill:#fb8332;
  }
}

.up-button {
  position: fixed;
  bottom: 1px;
  right: 5px;

  @media screen and (min-width: 470px) {
    bottom: 1px;
    right: 5px;
  }

  @media screen and (min-width: 1520px) {
    bottom: 1px;
    right: 5px;
  }
}

.up-button__link {
  width: 35px;
  height: 50px;
  fill: #777371;
  border-radius: 12px;
}
